<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books collection</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="wrapper">
    <div class="ui menu">
      <div class="ui contaner">
        <div class="ui menu" >
          <div class="header item" >
            Our Company
          </div>
          <a class="item">
            About Us
          </a>
          <a class="item">
            Jobs
          </a>
          <a class="item">
            Locations
          </a>
        </div>


        </div>
      </div>
    </div>
    </div>
              
    
    <script src="/js/semantic.min.js"></script>
</body>
</html>